.top{
    background-color: #242F40;
    display: flex;
}

.background{
    background-color: #363636;
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.title{
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
}

.text{
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
}

.buttom:hover{
    cursor: pointer;
}

.styleButtom{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #CCA43B;
    border-radius: 10px;
    width: max-content;
    color: #363636;
}

.contain{
    background-color: #CCA43B;
    width: max-content;
}
